div#title{
  /*background-color:white;*/
  font-size:20px;
  color: white;
}

h1#titleh1{
  padding-top:5px;
  margin:0px;
}

.navelements { /* Not working atm */
  color: lightgrey;
  /*font-size: 1.25em;*/
}

#bodycontainer {
  padding-top: 3em;
}

#addtask {
  height: 3em;
  font-weight: bold;
  /*font-size: 1.25em;*/
}

#taskbody {
  margin:0px;
  padding:0px;
}

#taskbody h3 {
  margin:0;
  /*vertical-align: middle;*/
}

.startbutton {
  margin-right: 1em;
  margin-left: 1em;
}

#pausebutton {
  background-color: #eedd82;
}


/*#finishbutton {
  background-color: #7CFC00;
}*/

/*
#getitdone{
  clear:both;
}*/

/*#trashbutton, #startbutton {
  float: right;
  text-align: right;
}*/

#timer{
  text-align: right;
}

#completed{
  padding-left: 32px;
}

.navbar-inverse{ /*the navbar */

  background-color: #004E64;

  /*margin:0px;*/
  border:0px;
}

.selected{
  background-color: white;
  color:grey;
}

#completed {
  padding-left: 32px;
}


